<h1>Create Bank Account</h1>
<div style="max-width: 600px">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="type">Account Type</label>
        <select class="form-control"
                id="type"
                name="type"
                required
                (change)="accountTypeChange($event)">
          <option value="1">Checking</option>
          <option value="2">Savings</option>
        </select>
      </div>

      <div class="form-group">
        <label for="customerId">Customer</label>
        <select class="form-control"
                id="customerId"
                name="customerId"
                required
                [(ngModel)]="bankAccount.customerId">
          <option *ngFor="let c of customers" [ngValue]="c.id">{{ c.lastName }}, {{ c.firstName }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="routingNumber">Routing Number</label>
        <input type="text"
               class="form-control"
               id="routingNumber"
               required
               [(ngModel)]="bankAccount.routingNumber"
               name="routingNumber" />
      </div>

      <div class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text"
               class="form-control"
               id="displayName"
               required
               [(ngModel)]="bankAccount.displayName"
               name="displayName" />
      </div>

      <div class="form-group">
        <label for="openingBalance">Opening Balance</label>
        <input type="text"
               class="form-control"
               id="openingBalance"
               required
               [(ngModel)]="openingBalance"
               name="postedBalance" />
      </div>

      <button (click)="createBankAccount()" class="btn btn-primary">Create</button>
    </div>

    <div *ngIf="submitted">

      <br/>
      <h3>You successfully created a new customer!</h3>
      <br/>

      <table>
        <tbody>
          <tr>
            <td style="min-width: 120px">Account Number:</td>
            <td>{{ bankAccount.number }}</td>
          </tr>
          <tr>
            <td style="min-width: 120px">Routing Number:</td>
            <td>{{ bankAccount.routingNumber }}</td>
          </tr>
          <tr>
            <td>Display Name:</td>
            <td><strong>{{ bankAccount.displayName }}</strong></td>
          </tr>
          <tr>
            <td>Created At:</td>
            <td>{{ bankAccount.createdAt | date }}</td>
          </tr>
        </tbody>
      </table>

      <br/>

      <button class="btn btn-success" (click)="clearBankAccount()">Create Another</button>
    </div>
  </div>
</div>
