<h1 id="tableLabel">Bank Accounts</h1>

<div>
  <a class="btn btn-primary" [routerLink]="['/bankaccounts/create']">Add New</a>
</div>

<br />

<p *ngIf="!bankAccounts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="bankAccounts">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Routing Number</th>
      <th>Display Name</th>
      <th>Type</th>
      <th>Customer</th>
      <th>Balance</th>
      <th>Created</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bankAccount of bankAccounts">
      <td>{{ bankAccount.number }}</td>
      <td>{{ bankAccount.routingNumber }}</td>
      <td>{{ bankAccount.displayName }}</td>
      <td>{{ bankAccount.description }}</td>
      <td>{{ bankAccount.customerName }}</td>
      <td>{{ bankAccount.postedBalance | currency }}</td>
      <td>{{ bankAccount.createdAt | date }}</td>
      <td><a class="btn btn-secondary" [routerLink]="['/bankaccounts/transfer-from', bankAccount.number]">Make Transfer</a></td>
    </tr>
  </tbody>
</table>
